:root {
    --button-bg-color: #4CAF50;
    --button-text-color: #ffffff;
    --input-border-color: #ccc;
    --input-focus-border-color: #4CAF50;
    --background-login-image: url('https://i.ibb.co/42LRgtR/5-QDah-Uz-ATL2-XOOUVPHDIEw.webp');
}